@charset "utf-8";
body {
    width: 900px;
    height: 1300px;
    background-image: url(../Images/degradado.png);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-repeat: repeat-x;
    padding-top: 0px;
    margin-top: 49px;
}
.img {
    width: 300px;
    height: 365px;
    margin: auto;
    object-fit: cover;
}


.varguy {
    font-family: 'Oswald', sans-serif;
    font-size: 51px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: lighter;
    margin-right: auto;
    width: 900px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 10px;
    color: #467487;
}
.bottones {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: lighter;
    width: 900px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #467487;
    text-align: center;
    background-color: #DED4A8;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
.texto {
    font-family: 'Oswald', sans-serif;
    font-size: 31px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    width: 900px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #467487;
    text-align: center;
    background-color: #DED4A8;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
.profile {
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    background-color: #FFFFFF;
    margin-bottom: -15px;
    margin-top: -33px;
    margin-left: 25px;
	text-align: left;
}
body div table {
    width: 900px;
    font-size: 9px;
    margin-top: -32px;
}
a:active {
    color: #467487;
    text-decoration: none;
}
a:link {
    color: #467487;
    text-decoration: none;
}
a:visited {
    color: #467487;
}


a:hover {
    color: #F1EEE3;
    text-decoration: none;
}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 600%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

}
.atable  {

}
.atable2  {
    margin-top: 801px;

}
.aaatable3 {
    margin-top: 617px;
}
.aaatable4 {
    width: 900px;
    margin-top: 37px;


}
.aaaaimage {
    width: 450px;
    object-fit: cover;
    height: 345px;
}
.aaaaaacomodo {
    margin-top: 29px;
}
.align-content-md-center {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #467487;
	text-align: center;
}
.back .align-content-md-center img {
	float: left;
}

.back {
	background-color: #E8E1C0;
	padding-bottom: 54px;
}
